@{
	ViewData["Title"] = "Book Timeslot";
}

<div class="col-12 border p-3">
	<br />
	<h3>Timeslot successfully booked.</h3>
	<br />

	<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back to Home</a>

</div>