@{
	ViewData["Title"] = "Book Timeslot";
}

<div class="col-12 border p-3">

	<p>Timeslot is successfully booked.</p>

	<a class="btn btn-success" asp-controller="Home" asp-action="Index">Back to Home</a>

</div>