@model Dictionary<Room, List<Timeslot>>

<div class="col-12 border p-3">
	<table class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<th>Timeslot</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var room in Model)
			{
				<tr>
					<td>@room.Key.RoomName</td>
				</tr>
				@foreach (var slot in room.Value)
				{
					<tr>
						<td>@slot.From.Hour:@slot.From.Minute - @slot.To.Hour:@slot.To.Minute</td>
						<td><btn>Book</btn></td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>